<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL-Shortener</title>
</head>
<body>
    <style>
        .edit{
            text-decoration: none;
            background-color: orange;
        }
    </style>
    <h1>Url List</h1>
    {% for url in urls %}
        {{ url.name }}: <a href=" {{ url.long_url }} ">{{ url.short_url }}</a> <a href="{% url 'dynamic_url' url.short_url %}" class="edit">stats</a>
        <form method="post" action="{% url 'delete_url' url.short_url%}">
            {% csrf_token %}
            <button type="submit">
                x
            </button>
        </form>
    {% endfor %}
    <a href="{% url 'add_url' %}" class="btn">Add Url</a>
</body>
</html>